<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>CIDUSFACE HOTEL</title>
</head>

<body>
    <nav class="navbar navbar-fixed-top desktop-view">
        <h1>CIDUSFACE HOTEL</h1>
        <button class="btn active btn-primary" href="#">Reset Password</button>
        <button class="btn btn-"> <a class="dropdown-item" href="/" style="color: white;">Home</a></button>
        <button class="btn btn-"> <a class="dropdown-item" href="/login" style="color: white;">Login</a></button>
    </nav><br><br>
    <!-- mobile navbar -->
    <nav class="mobile-container mobile-nav" style="background-color: rgba(0, 0, 0, 0.534) !important;">
        <div class="topnav">
            <a href="#home" class="active" style="font-size: x-large;">CIDUSFACE HOTEL</a>
            <a href="javascript:void(0)" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
            <br>
            <div id="myLinks">
                <a href="/">Home</a>
                <a href="/login">Login</a>
            </div>

        </div>
    </nav>
    <script src="/script.js"></script>
    <div class="container" style="align-self: center; color: black!important;">
        <div class="card" style="width: 25rem;">
            <div class="card-header">
                <h2>Forgotten password</h2><span>Enter your email to reset your password</span>
            </div>
            <div class="card-body">
                <!-- messages here -->
                <div>
                    <% if(error !== ''){%>
                        <div class='alert alert-danger'>
                            <%- error %>
                        </div>
                        <%}%>
                </div>
                <form action="/forgotPassword" method="POST">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="enter your email..." required>
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" placeholder="enter new password..." class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input type="password" placeholder="re-enter the password..." class="form-control" id="confirmPassword" name="confirmPassword" required>
                    </div>
                    <div class="button" style="display: flow-root;">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
<footer class="desktop-view ">
    <div class="container ">Copyright @ 2021 All rights Reserved. Power by <b>Nugi Technologies.</b>
        <span>
            Connect with us:
            <i class="fa fa-mobile "></i> +2348127087575
            <i class="fa fa-envelope "></i> Cidusface@yahoo.com
            <a href="https://www.facebook.com/godwin.ugbe.52 "><i class="fab fa-facebook "></i></a>
            <a href="https://twitter.com/IkpeUgbe "><i class="fab fa-twitter "></i></a>
            <a href="https://web.skype.com/ "><i class="fab fa-skype "></i></a>
        </span>
    </div>
</footer>
<footer class="mobile-container ">
    <div class="container " style="font-size: xx-small; ">Copyright @ 2021 All rights Reserved. Power by <b>Nugi Technologies.</b>
        <span>
            Connect with us:
            <i class="fa fa-mobile "></i> +2348127087575
            <i class="fa fa-envelope "></i> Cidusface@yahoo.com
            <a href="https://www.facebook.com/godwin.ugbe.52 "><i class="fab fa-facebook "></i></a>
            <a href="https://twitter.com/IkpeUgbe "><i class="fab fa-twitter "></i></a>
            <a href="https://web.skype.com/ "><i class="fab fa-skype "></i></a>
        </span>
    </div>
</footer>

</html>