<!DOCTYPE html>
<html lang="en">

<head>
    <title>CIDUSFACE HOTEL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style1.css">
    <script src="/script.js"></script>
    <title>CIDUSFACE HOTEL</title>
</head>

<body style="background-image: none !important;">
    <nav class="navbar navbar-fixed-top desktop-view">
        <h1>CIDUSFACE HOTEL</h1>
        <button class="btn"><a href="/" style="text-decoration: none; color: white;">Home</a></button>
        <button class="btn "><a href="#register" style="text-decoration: none; color: white;">Create Acoount</a></button>
        <button class="btn "><a href="/login" style="text-decoration: none; color: white;">Login</a></button>
        <button class="btn "><a href="/booking" style="text-decoration: none; color: white;">Reserve Room</a></button>
        <button class="btn active btn-primary"><a href="#" style="text-decoration: none; color: white;">Rooms</a></button>
    </nav>
    <!-- mobile navbar -->
    <div class="mobile-container mobile-nav" style="background-color: rgba(0, 0, 0, 0.534) !important;">
        <div class="topnav">
            <a href="#home" class="active">CIDUSFACE HOTEL</a>
            <a href="#innerview" class="btn-primary">Inner View</a>
            <a href="javascript:void(0)" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
            <!-- <br> -->
            <div id="myLinks">
                <a href="/">Home</a>
                <a href="/register">Create Account</a>
                <a href="/login">Login</a>
                <a href="/booking">Reserve Room</a>

            </div>

        </div>
    </div>
    <div class="container mt-4 ">
        <p><b>CIDUSFACE</b> one bedroom apartment is situated in Calabar. This property offers access to tennis at the tennis court, free private parking and free WiFi. The apartment has 1 bedroom, a flat-screen TV with cable channels, an equipped kitchenette
            with a microwave and a fridge, and 1 bathroom with a shower. For added convenience, the property can provide towels and bed linen for an extra charge.
        </p>
    </div>

    <div class="row desktop-view">
        <div id="demo lower" class="carousel slide col-4" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
            </ul>

            <!-- The slideshow -->
            <div class="container carousel-inner">
                <h2>Lower class</h2>
                <div class="carousel-item active">
                    <img src="../images/hotel1.jpg" alt="Los Angeles" width="500" height="400">
                    <div class="text ">Rest-room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel2.jpg " alt="Chicago" width="500" height="400">
                    <div class="text ">Window side</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel3.jpg " alt="New York" width="500" height="400">
                    <div class="text ">Sitting-room</div>
                </div>

                <div class="carousel-item">
                    <img src="../images/hotel4.jpg" alt="New York" width="500" height="400">
                    <div class="text ">Bed-room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel5.jpg" alt="New York" width="500" height="400">
                    <div class="text ">Bathroom</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel6.jpg" alt="New York" width="500" height="400">
                    <div class="text ">Sport court</div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div id="demo middle" class="carousel slide col-4" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="container carousel-inner">
                <h2>Middle class</h2>
                <div class="carousel-item active">
                    <img src="../images/hotel14.jpg" alt="Los Angeles" width="500" height="400">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel17.jpg " alt="Chicago" width="500" height="400">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel18.jpg " alt="New York" width="500" height="400">
                    <div class="text ">Room</div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div id="demo higher" class="carousel slide col-4" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="container carousel-inner">
                <h2>Higher class</h2>
                <div class="carousel-item active">
                    <img src="../images/hotel13.jpg" alt="Los Angeles" width="500" height="400">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel15.jpg " alt="Chicago" width="500" height="400">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel16.jpg " alt="New York" width="500" height="400">
                    <div class="text ">Room</div>
                </div>

                <div class="carousel-item">
                    <img src="../images/hotel19.jpg" alt="New York" width="500" height="400">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel20.jpg" alt="New York" width="500" height="400">
                    <div class="text ">Room</div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <!-- mobile view -->
    <div class="mobile-container">
        <div id="demo lower" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
            </ul>

            <!-- The slideshow -->
            <div class="container carousel-inner">
                <h2>Lower class</h2>
                <div class="carousel-item active">
                    <img src="../images/hotel1.jpg" alt="Los Angeles">
                    <div class="text ">Rest-room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel2.jpg " alt="Chicago">
                    <div class="text ">Window side</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel3.jpg " alt="New York">
                    <div class="text ">Sitting-room</div>
                </div>

                <div class="carousel-item">
                    <img src="../images/hotel4.jpg" alt="New York">
                    <div class="text ">Bed-room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel5.jpg" alt="New York">
                    <div class="text ">Bathroom</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel6.jpg" alt="New York">
                    <div class="text ">Sport court</div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div id="demo middle" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="container carousel-inner">
                <h2>Middle class</h2>
                <div class="carousel-item active">
                    <img src="../images/hotel14.jpg" alt="Los Angeles">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel17.jpg " alt="Chicago">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel18.jpg " alt="New York">
                    <div class="text ">Room</div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div id="demo higher" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
                <li data-target="#demo" data-slide-to="4"></li>
            </ul>

            <!-- The slideshow -->
            <div class="container carousel-inner">
                <h2>Higher class</h2>
                <div class="carousel-item active">
                    <img src="../images/hotel13.jpg" alt="Los Angeles">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel15.jpg " alt="Chicago">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel16.jpg " alt="New York">
                    <div class="text ">Room</div>
                </div>

                <div class="carousel-item">
                    <img src="../images/hotel19.jpg" alt="New York">
                    <div class="text ">Room</div>
                </div>
                <div class="carousel-item">
                    <img src="../images/hotel20.jpg" alt="New York">
                    <div class="text ">Room</div>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</body>
<footer class="desktop-view ">
    <div class="container ">Copyright @ 2021 All rights Reserved. Power by <b>Nugi Technologies.</b>
        <span>
            Connect with us:
            <i class="fa fa-mobile "></i> +2348127087575
            <i class="fa fa-envelope "></i> Cidusface@yahoo.com
            <a href="https://www.facebook.com/godwin.ugbe.52 "><i class="fab fa-facebook "></i></a>
            <a href="https://twitter.com/IkpeUgbe "><i class="fab fa-twitter "></i></a>
            <a href="https://web.skype.com/ "><i class="fab fa-skype "></i></a>
        </span>
    </div>
</footer>
<footer class="mobile-container ">
    <div class="container " style="font-size: xx-small; ">Copyright @ 2021 All rights Reserved. Power by <b>Nugi Technologies.</b>
        <span>
            Connect with us:
            <i class="fa fa-mobile "></i> +2348127087575
            <i class="fa fa-envelope "></i> Cidusface@yahoo.com
            <a href="https://www.facebook.com/godwin.ugbe.52 "><i class="fab fa-facebook "></i></a>
            <a href="https://twitter.com/IkpeUgbe "><i class="fab fa-twitter "></i></a>
            <a href="https://web.skype.com/ "><i class="fab fa-skype "></i></a>
        </span>
    </div>
</footer>
</html